.patient-timeline-container {
  width: 100%;
  height: 100%;
}

.patient-timeline-chart {
  width: 100%;
  height: 100%;
  min-height: 200px;
}

.patient-timeline-loading {
  padding: 20px;
  text-align: center;
  color: #94a3b8;
}

